default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
countryName = Country
countryName_default = 2x
stateOrProvinceName = State
stateOrProvinceName_default = Pest
organizationName = Organization Name
organizationName_default = Company
commonName = example.com

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1 = example.com
IP.1 = 192.168.0.1
